.footer
  background: #0D4444
  padding: 60px 0
  position: relative
  z-index: 100
  .footer-contacts
    span
      display: block
      font-size: 14px
      color: #fff
      font-weight: 700
      a
        color: #fff
    .footer-first-span
       margin-bottom: 6px
  .footer-links
    a
      color: #fff
      font-size: 14px
      font-weight: 400
      text-transform: uppercase
      margin-right: 27px
      display: inline-block
    a:hover
      opacity: 0.65
    a:last-child
      margin-right: 0
  .footer-social
    a
      display: inline-block
      width: 32px
      height: 32px
      border: 2px solid #fff
      border-radius 50%
      background-position: 50% 50%
      background-repeat: no-repeat
      margin-right: 20px
    a:hover
      opacity 0.65
    .footer-fb
      background-image: url(../img/svg/fb.svg)
    .footer-insta
      background-image: url(../img/svg/insta.svg)
    .footer-youtube
      background-image: url(../img/svg/youtube.svg)
      margin-right: 0