header
  .uk-button-default
    border: none
  a
    color: #444444!important
    font-weight: 400
    font-size: 14px
    text-decoration: none
    &:hover
      text-decoration: underline
      opacity 0.75
  h1
    color: #9BD941
    font-size: 72px
    font-weight: 500
    text-align: center
    text-transform: uppercase
    margin: 0
    z-index: 500
    position: relative
  p
    color: #FFFFFF
    font-size: 36px
    font-weight: 500
    text-align: center
    margin: 0
    text-transform: uppercase
    z-index: 500
    position: relative
  .main-nav
    //background: transparent !important
    position: fixed
    width: 100%
    z-index: 1000
  .main-pic
    padding: 315px 0 240px
    background-size: cover
    background-repeat: no-repeat
    position: relative
    .main-pic-bg
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: 5
      position: fixed