
footer.footer#footer
    .uk-container
        .uk-grid.uk-flex-middle(class="uk-child-width-1-3@s")
            .footer-contacts(class="uk-text-left@s uk-text-center")
                span.footer-first-span
                    a(href="tel: {{contacts.phone}}") {{contacts.phone}}
                span {{contacts.email}}
            .footer-links(class="uk-text-center")
                a(href="#about-us" uk-scroll="offset: 80") About us
                a(href="#inv-st" uk-scroll="offset: 80") Investment stages
                a(href="#people" uk-scroll="offset: 80") People

            .footer-social(class="uk-text-right@s uk-text-center")
                a(href="{{social.link_fb}}").footer-fb
                a(href="{{social.link_insta}}").footer-insta
                a(href="{{social.link_youtube}}").footer-youtube