| {% load staticfiles %}

header
    nav.uk-navbar-container.main-nav
        .uk-container
            .uk-navbar-left
                a(href="#").logo
                    img(src="{% static 'dist/img/svg/logo.png' %}" style="max-width: 97px; max-height:60px")
                .uk-navbar-right
                    ul.uk-navbar-nav(class='uk-visible@m')
                        li
                            a(href="#about-us" uk-scroll="offset: 80") About us
                        li
                            a(href="#inv-st" uk-scroll="offset: 80") Investment stages
                        li
                            a(href="#people" uk-scroll="offset: 80") People
                        li
                            a(href="#footer" uk-scroll="offset: 80") Contacts
                    button.uk-navbar-item.uk-button.uk-button-default.uk-navbar-toggle.uk-navbar-toggle-icon.uk-icon(class='uk-hidden@m', uk-navbar-toggle-icon='', type='button')
                    .dropdown-navbar(uk-dropdown='mode: click')
                        ul.uk-nav.uk-dropdown-nav
                            li
                                a(href="#about-us" uk-scroll="offset: 80") About us
                            li
                                a(href="#inv-st" uk-scroll="offset: 80") Investment stages
                            li
                                a(href="#people" uk-scroll="offset: 80") People
                            li
                                a(href="#footer" uk-scroll="offset: 80") Contacts


    .main-pic
        .main-pic-bg(style="background-image: url({% static 'dist/img/jpg/main-pic.jpg' %})")
        h1 Being distinctive
        p private equity