@import 'libs/uikit.css'
//@import 'var/var.styl'
@import 'include/header.styl'

.about-us
  color: #444444
  position: relative
  z-index: 100
  padding: 60px 0 75px
  background: #fff
  h2
    margin: 0 0 20px
    text-transform: uppercase
    font-weight: 700
    text-align: center
    font-size 36px
  span
    display: block
    text-align: center
.about-us-text
  width: 70%
  text-align: center
  margin 0 auto 15px
.about-us-text-last
  margin-bottom 0px
.about-us-img
  width: 130px
  height: 130px
  border-radius 50%
  background: #E5E5E5
  margin 0 auto 18px
  background-repeat: no-repeat
  background-position: center center
  box-sizing border-box
  transition 0.3s
.about-us-img:hover
  border: 5px solid #619417
  background-size 50%
.about-us-items
  margin-top: 60px
.about-us-item
  h4
    font-size: 18px
    font-weight: 700
    margin: 0 0 6px
  p
    font-size: 14px
    margin: 0
    padding: 0
    font-weight: 400


.quotes
  background: #0D4444
  color: #fff
  padding 55px 0 25px
  position: relative
  z-index: 100
  p
    font-size: 24px
    color: #fff
    width 70%
    margin 0 auto 20px
    font-weight 700
    text-align: center
  span
    display: block
    font-size: 18px
    opacity: 0.75
    margin 0 auto 5px
    text-align: center
  .uk-dotnav>.uk-active>*
    background: #fff
  .uk-dotnav>*>*
    background: transparent
    border: 2px solid #fff
    width: 12px
    height: 12px


.investment-stages
  background: #F3F3F3
  padding: 60px 0
  font-size: 14px
  color: #444444
  position: relative
  z-index: 100
  h2
    @extend .about-us h2
  .inv-st-title
    background: #477978
    height: 133px
    position: relative
    border-radius 4px
    color #fff
    padding-top: 32px
    ::after
      content: ''
      display: block
      width: 0
      height: 0
      border-style: solid
      border-width: 65.5px 0 65.5px 28px;
      border-color: transparent transparent transparent #477978
      position: absolute
      top: 1px
      right: -27px
    h4
      font-size: 24px
      font-weight: 700
      color: #fff
      padding: 0
      margin: 0
    span
      font-size: 24px
      font-weight: 400
  .inv-st-text
    padding-left: 60px
    display: flex
    flex-direction column
    justify-content space-between
    p
      margin: 0
  .inv-st-title-add
    display: flex
    justify-content left
    align-items center
    background: #477978
    border-radius 4px
    color: #fff
    padding 5px 15px
    margin-bottom 20px
    h4
      font-size: 24px
      font-weight: 700
      padding: 0
      margin: 0
      color: #fff
    span
      font-size: 24px
      font-weight: 400
      display: inline-block
      margin-right: 10px

.people
  padding 60px 0
  color: #444444
  position: relative
  z-index: 100
  background: #fff
  h2
    @extend .about-us h2
  .people-item
    display: flex
    justify-content space-between
    align-items center
    margin-bottom: 35px
    h3
      margin: 0
      padding: 0
      font-size: 18px
      font-weight: 700
      color: #444444
    span
      font-size: 14px
      font-weight: 700
    p
      font-size: 14px
      font-weight: 400
      margin: 0 0 15px

    .people-photo-part
      margin-right: 40px
      .people-circle
        width: 260px
        height: 260px
        border-radius 50%
        background: rgba(82,121,121,0.25)
        padding-top: 10px
        .people-circle-inner
          position: relative
          top 0px
          left 10px
          width: 260px
          height: 260px
          border-radius 50%
        .people-circle-inner-1
          background: url(../img/jpg/photo-1.jpg) no-repeat center center
        .people-circle-inner-2
          background: url(../img/jpg/photo-2.jpg) no-repeat center center
        .people-circle-inner-3
          background: url(../img/jpg/photo-3.jpg) no-repeat center center

.download
  padding: 30px 0
  position: relative
  box-sizing border-box
  position: relative
  z-index: 100
  .download-bg
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    background: rgba(13,68,68,0.5) url(../img/jpg/pic-in-footer.jpg) no-repeat center center
    background-size: cover
  .download-link
    z-index: 100
    position: relative
    text-align: center
    display: block
    font-size: 40px
    font-weight: 700
    color: #fff


@import 'include/footer.styl'
@import 'media.styl'
