@media screen and (max-width: 990px)
  .footer .footer-links a
    display: block
    margin-right: 0

@media screen and (max-width: 960px)
  header
    .uk-navbar-container
      padding 0px 15px
    .uk-navbar-toggle-icon
      margin-right: 30px
    h1
      font-size: 54px
    .main-pic
      padding: 245px 0 140px
  .about-us-text
    width: 85%
  .about-us-item p
    font-size: 12px
    line-height: 1.2
  h2
    font-size: 26px!important
  .quotes
    padding: 35px 0 15px
  .investment-stages .inv-st-text
    padding-left: 30px
    p
      padding: 0 15px
  .download .download-link
    font-size: 28px
  footer
    padding: 30px 0!important

@media screen and (max-width: 640px)
  header
    h1
      font-size: 38px
    p
      font-size: 24px
    .main-pic
      padding: 215px 0 110px
  .about-us
    padding: 30px 0 40px
  .about-us-text
    font-size: 13px
    margin: 0 auto 10px
  .about-us span
    font-size: 13px
  .about-us-items
    margin-top: 20px
  .about-us-img
    margin: 0 auto 10px
  .about-us-item p
    margin: 0 auto 20px !important
    width: 85%
  .quotes
    padding: 25px 0 10px
    p
      width: 90%
      font-size: 18px
      margin: 0 auto 15px
    span
      margin: 0 auto
      font-size: 14px
  .investment-stages
    padding: 30px 0!important
    .inv-st-title-add span
      display: inline-block
      white-space nowrap
      font-size: 18px
    .inv-st-title-add h4
      font-size: 18px
    .inv-st-text p
      font-size: 13px
  .people
    padding: 20px 0
    .people-item
      flex-wrap: wrap
      margin-bottom: 10px
      .people-text
        width: 100%
        text-align: center
        order: 5
    .people-photo-part
      margin: 0 auto 20px !important
      order: -5
      .people-circle
        width: 200px!important
        height: 200px!important
        .people-circle-inner
          width: 200px!important
          height: 200px !important
          background-size: cover !important
  .download .download-link
    font-size: 20px
    text-transform: uppercase
  .footer .footer-contacts
    span
      margin-bottom: 0!important
    span:last-child
      margin-bottom: 15px !important
  .footer-links
    margin-bottom: 20px !important

@media screen and (max-width: 640px)
  .download .download-link
    font-size: 16px
  .uk-navbar-toggle-icon
      margin-right: 45px !important