| {% load staticfiles %}

!!! 5
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        title='Astero'
        meta(content="", name="description")
        meta(content="", name="keywords")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(content="telephone=no", name="format-detection")
        meta(name="HandheldFriendly", content="true")
        link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet")
        link(href='{% static "dist/styles/main.min.css" %}', type='text/css', rel='stylesheet')
 body
     .uk-offcanvas-content

         block header
           include include/header

         block content

         block footer
           include include/footer

     script(src='{% static "dist/scripts/main.min.js" %}')