extends base.pug
| {% load staticfiles %}
| {% load astera %}

block content
    .about-us#about-us
        .uk-container
            h2 About us
            p.about-us-text {{about_us.text|safe}}
            .about-us-items.uk-grid(class="uk-child-width-1-3@s")
                for item in trend
                    .about-us-item.uk-text-center
                        .about-us-img(style="background-image: url({{item.image.url}})")
                        h4 {{item.title}}
                        p {{item.text}}

    .quotes#quotes
        .uk-container
            .quotes-slider.uk-position-relative(uk-slider="autoplay: true")
                ul.uk-slider-items.uk-child-width-1-1
                    for item in slogan
                        li
                            p {{item.text}}
                            span {{item.author}}
                ul.uk-slider-nav.uk-dotnav.uk-flex-center.uk-margin

    .investment-stages#inv-st
        .uk-container
            h2 Investment stages
            .inv-st-items
                for item in stages
                    .inv-st-item.uk-grid
                        .inv-st-title.uk-width-1-4(class="uk-visible@m")(uk-scrollspy="cls: uk-animation-slide-left; repeat: true")
                            span {{ forloop.counter }} Stage
                            h4 {{item.title}}
                        .inv-st-text(class="uk-width-3-4@m")
                            div.inv-st-title-add(class="uk-hidden@m")(uk-scrollspy="cls: uk-animation-slide-left; repeat: true")
                                span {{ forloop.counter }} Stage
                                h4 {{ item.title }}
                            p {{ item.description|safe }}

    .people#people
        .uk-container
            .people-items
                h2 People
                for item in people
                    .people-item
                        if forloop.counter0|is_even
                            .people-photo-part
                                .people-circle
                                    .people-circle-inner.people-circle-inner(style="background-image:url({{item.photo.url}})")
                            .people-text
                                p {{item.description|safe}}

                        else
                            .people-text
                                p {{item.description|safe}}
                            .people-photo-part
                                .people-circle
                                    .people-circle-inner.people-circle-inner(style="background-image:url({{item.photo.url}})")
                            //(class="uk-width-2-3@s uk-width-3-4@m")
                            //(class="uk-width-1-3@s uk-width-1-4@m")

    .download
        if document
            .download-bg
            a.download-link(href='{{ document.document.url }}') Download our brochure